*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Oxygen', sans-serif;
    color: #5786f1;
    text-align: center;
}

#subtitulo {
    font-family: 'Oxygen', sans-serif;
    color: #5786f1;
    text-align: center;
}

fieldset {
    display: inline;
    border: 0;
    width: 100%;
    margin: 2em;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    color: #5786f1;
    margin-top: 2%;
    justify-content: center;
    display: grid;
    place-items: center;
}

input, select, textarea, button {
    border-radius: 0.8em;
}

.campo {
    display: inline-block;
    margin-bottom: 0.8em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #5786f1;
    display: block;
    text-align: center;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select {
    padding: 0.2em;
    border: 1px solid #5786f1;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;
    height: 1.6em;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #c3d4fa;
}

.botao {
    font-size: 1.2em;
    background-color: #5786f1;
    border: 0;
    color: rgb(255, 255, 255);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    position: relative;
    top: 10%;
    margin: 2rem;
    transition: .5s;
}

.botao:hover {
    background: #c3d4fa;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}

textarea {
    border: 1px solid #5786f1;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;
    height: 16em;
    resize: none;
    width: 26em;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width:100%;
}

footer {
    align-items: center;
    background-color: #280a1c;
    color: #5786f1;
    display: flex;
    font-size: 1.2em;
    height: 6em;
    justify-content: center;
    padding: 0.8% 0.8%;
    width: 120rem;
}